@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes custom-bounce {
  0%,
  100% {
    transform: translateY(-7%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.custom-bounce:hover {
  animation: custom-bounce 1s infinite;
}

.cursive {
  font-family: "Cedarville Cursive", cursive;
}
.Welcome-text {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

.button-primary {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.32) 100%
    ),
    rgba(113, 47, 255, 0.12);
  box-shadow: inset 0 0 12px #bf97ff3d;
}
.button-primary:hover {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.42) 100%
    ),
    rgba(113, 47, 255, 0.24);
  box-shadow: inset 0 0 12px #bf97ff70;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.fp-warning,
.fp-watermark {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.can-1 {
  flex-shrink: 0;
  height: 558px;
  width: 310px;
  --left: -433px;
  --url: url(/section-two/pngs/knockio-contents.png);
  background: var(--url) var(--left) 0 no-repeat,
    url(/section-two/pngs/can.png) no-repeat;
  background-blend-mode: multiply;
  -webkit-mask-image: url(/section-two/pngs/can.png);
  -webkit-mask-size: 100% auto;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(/section-two/pngs/can.png);
  mask-size: 100% auto;
  mask-repeat: no-repeat;
  transition: background 1s ease-in-out;
  -webkit-transition: background 1s ease-in-out;
  -moz-transition: background 1s ease-in-out;
  -ms-transition: background 1s ease-in-out;
  -o-transition: background 1s ease-in-out;
  --z: 3;
  z-index: var(--z);
}

.can-2 {
  --z: 2;
  z-index: var(--z);
  flex-shrink: 0;
  height: 558px;
  width: 310px;
  --left: -576px;
  background: url(/section-two/pngs/markytech-contents.png) var(--left) 0
      no-repeat,
    url(/section-two/pngs/can.png) no-repeat;
  background-blend-mode: multiply;
  -webkit-mask-image: url(/section-two/pngs/can.png);
  -webkit-mask-size: 100% auto;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(/section-two/pngs/can.png);
  mask-size: 100% auto;
  mask-repeat: no-repeat;
  transition: background 1s ease-in-out;
  -webkit-transition: background 1s ease-in-out;
  -moz-transition: background 1s ease-in-out;
  -ms-transition: background 1s ease-in-out;
  -o-transition: background 1s ease-in-out;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: rgb(14, 82, 8) !important;
}

.fp-slidesNav {
  display: flex;
  justify-content: center;
  padding-right: 20px;
}

.animation-in {
  animation: fade-in 500ms ease-in-out;
  -webkit-animation: fade-in 500ms ease-in-out;
}

.animation-out {
  animation: fade-out 500ms ease-in-out;
  -webkit-animation: fade-out 500ms ease-in-out;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .content {
  background: url(/section-two/pngs/knockio-contents.png) 0 0 no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  mix-blend-mode: multiply;
} */
/* url(/section-two/pngs/knockio-contents.png) 100px 0 no-repeat */
